language: python
python:
  - "3.5"
  - "3.6"
  - "3.7-dev"
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgmp3-dev
install:
  - pip install -U pytest
  - pip install -r requirements.txt
  - pip install -r requirements_dev.txt
  - python setup.py install
script:
  - flake8
  - pytest --cov=multicrypto
after_success:
  - coveralls
